<nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </button>
   <div class="navbar-brand">Foodnetwork Recipes App</div>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
   <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/allstars-chefs">All Stars Chefs</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/sign-up">Sign up</a></li>
   </ul>
  </div>
 </div>
</nav>
