<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <body>
    <% include ../partials/nav %>

    <h2>Add a new Comment</h2>

    <form action="/comments" method="post">
      <label>Comment: </label>
      <input type="text" name="text">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
