body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}

a {
  color: #00B7FF;
}

.jumbotron h1{
  color: green;
}
div h2 {
  color: white;
}
label {
  color: white;
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a {
  color: purple;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: pink;
}
h2:hover {
  color: red;
  cursor: pointer;
}
li {
  cursor: pointer;
}
.recipe {
  height: 200px;   /* used to force all recipes to have the same height */
  margin: 10px;
}
