<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <header>
  <% include ../partials/nav %>
</header>

  <body>

  <div class="container home home-welcome">
    <div class="jumbotron">
      <h1>Why My Recipes App?</h1>
      <p>My Recipes App is the newest way to find your favorite
         Chefs'recipes and keep up with them.<br> With this app, you have the opportunity
       to cook alongside your favorite Chefs on a regular basis, making cooking fun, easy
      iresistible and educational.</p>
    </div>
  </div>
  <div class="video">
  <iframe  width="97%" height="500" src="https://www.youtube.com/embed/1FYZHkjgwdc" frameborder="0" allowfullscreen></iframe>
</div>
  </body>
</html>
