<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <header>
  <% include ../partials/nav %>
</header>

  <body>

  <div class="container home home-welcome">
    <div class="jumbotron">
      <h1>Why Foodnetwork Recipes Apps?</h1>
      <p>Foodnetwork Recipes App is the newest way to find your favorite
         Chefs'recipes and keep up with them.<br> With this app, you have the opportunity
       to cook alongside your favorite Chefs on a regular basis, making cooking fun, easy
      iresistible and educational.</p>
    </div>
  </div>
  <video width="320" height="240" controls>
  <source src="https://goo.gl/Zf6JIM">
  <!-- <source src="movie.ogg" type="video/ogg"> -->
</video>
  </body>
</html>
