<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Check out your favorite Star Chefs</h1>
  </main>

  <script>
 function imgWindow() {
  window.open("image") }
</script>
<a href = "http://www.foodnetwork.com/chefs/giada-de-laurentiis.html">
  <img src="https://goo.gl/efctwt" alt="Giada Lorentis" style="width:304px;height:228px;">
</a>
<a href = "http://www.foodnetwork.com/chefs/bobby-flay.html">
  <img src="https://goo.gl/3TlA64" alt="Bobby Flay" style="width:304px;height:228px;">
</a>
<a href = "http://www.foodnetwork.com/chefs/guy-fieri.html">
  <img src="https://goo.gl/LZO8xU" alt="Guy Fieri" style="width:304px;height:228px;">
</a>
<a href = "http://www.foodnetwork.com/chefs/michael-symon/michael-symons-top-recipes.html">
  <img src="https://goo.gl/n9PJrZ" alt="Michael Simon" style="width:304px;height:228px;">
</a>
 </body>
</html>
