<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to our All Stars Chefs page!</h1>
  </main>

  <script>
 function imgWindow() {
  window.open("image") }
</script>

  <img src="https://goo.gl/efctwt" alt="Giada Lorentis" style="width:304px;height:228px; onclick="image(this)">
  <img src="https://goo.gl/3TlA64" alt="Bobby Flay" style="width:304px;height:228px;">
  <img src="https://goo.gl/LZO8xU" alt="Guy Fieri" style="width:304px;height:228px;">
  <img src="https://goo.gl/n9PJrZ" alt="Michael Simon" style="width:304px;height:228px;">

 </body>
</html>
