<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
  <div class="jumbotron">
      <h1>Recipes</h1>
      <p>Tedious prep work and outrageously long cook times get an F in my gradebook.
        But before you throw in the towel and dial the caterer, take a look at these recipes
         for a relaxed and inexpensive holiday meal. Whether your scholar just completed college or kindergarten,
          our tasty menu of easy, make-ahead dishes will score top marks with any audience.</p>
    </div>
    <section class="recipes row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="recipe">
                    <h2>Chef's pick: Christmas dinner</h2>
                    <ul>
                      <% recipes.forEach(function(recipe) { %>
                        <li><a href="<%= recipe.url %>" target="_blank"><%= recipe.title %></a>
                          <a class="btn btn-primary" href="/comments/new">Add a Comment</a>
                        </li>
                      <% }); %>
                    </ul>
                </article>
            </div>
  </div>

  </body>
</html>
