<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
  <div class="jumbotron">
      <h1>Recipes</h1>
      <p>Foodnetwork Recipes App is the newest way to find your favorite
         Chefs'recipes and keep up with them.<br> With this app, you have the opportunity
       to cook alongside your favorite Chefs on a regular basis, making cooking fun, easy,
      iresistible and educational.</p>
    </div>
    <section class="recipes row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="recipe">
                    <h2>Chef's pick: Christmas dinner</h2>
                    <ul>
                        <li onclick="location.href = 'https://goo.gl/tJhTmV';">
                          Chefs’ Picks tracks down what the pros are eating and cooking from coast to coast.</li>
                        <li onclick="location.href = 'https://goo.gl/XMmv38';">
                          Known as the Feast of the Seven Fishes, this tradition-steeped meal draws
                          family members together to enjoy a multitude of courses while they await
                          the impending arrival of Christmas. The meal typically entails quite a few
                          different kinds of fish prepared
                          in a variety of ways: alone, in pasta, as an appetizer or even as a stew.</li>

                    </ul>
                </article>
            </div>
  </div>
  </body>
</html>
