<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
  <div class="jumbotron">
      <h1>Recipes</h1>
      <p>Foodnetwork Recipes App is the newest way to find your favorite
         Chefs'recipes and keep up with them.<br> With this app, you have the opportunity
       to cook alongside your favorite Chefs on a regular basis, making cooking fun, easy,
      iresistible and educational.</p>
    </div>
    <section class="recipes row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="recipe">
                    <h2>Chef's pick: Christmas dinner</h2>
                    <ul>
                      <% recipes.forEach(function(recipe) { %>
                        <li><a href="<%= recipe.url %>" target="_blank"><%= recipe.title %></a>
                          <a class="btn btn-primary" href="/comments/new">Add a Comment</a>
                        </li>
                      <% }); %>
                    </ul>
                </article>
            </div>
  </div>
  </body>
</html>




<!--
socket.on('tweets', function(tweet) {
	      var html = '<div class="row"><div class="col-md-6 col-md-offset-3 tweet"><img src="' + tweet.user_profile_image + '" class="avatar pull-left"/><div class="names"><span class="full-name">' + tweet.name + ' </span><span class="username">@' +tweet.screen_name + '</span></div><div class="contents"><span class="text">' + tweet.text + '</span></div></div></div>';
	      $('#tweet-container').prepend(html);
	    });
	  };
  -->
