<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
  <% include ../partials/nav %>
</header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to our Reviews page</h1>
  </main>



 </body>
</html>
