<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
  <% include ../partials/nav %>
</header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to our Reviews page</h1>
      <h3>Post your reviews of your favorite chefs or recipes here</h3>

  </main>



 </body>
</html>
