<!doctype html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
  <% include ../partials/nav %>
</header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to our Reviews page</h1>
      <h3>Post your reviews of your favorite chefs or recipes here</h3>

  </main>
  <ul>
    <% comments.reverse().forEach(function(comment) { %>
      <li><p class ="comment"><%= comment.user ? comment.user.local.email : 'NA' %> - :<%= comment.text %></p>
      </li>
    <% }); %>
  </ul>



 </body>
</html>
