<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title>Following</title>
  </head>

  <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
    <div class="jumbotron">
      <h1>Welcome to Foodnetwork!</h1>
      <p>Check out your favorite chefs' recipes and never miss a great recipe again!
      <br> All your favorite Food Network celebrity chefs on demand,
       like in your own kitchen.</p>
    </div>
  </div>
  <img src="https://goo.gl/PKsDSZ" height="200" size="200" alt="Lobsters" onclick="image()">
  <img src="https://goo.gl/eBH95j" height="200" size="200" alt="Scallops" onclick="image()">
  <img src="https://goo.gl/DRv3kV" height="200" size="200" alt="Stuffed Lamb Shoulder" onclick="image()">
  <img src="https://goo.gl/IJrzjy" height="200" size="200" alt="Cardon Gratinata" onclick="image()">
  <img src="https://goo.gl/aHTSJ8" height="200" size="200" alt="Creamy Wheel of Brie" onclick="image()">
  <img src="https://goo.gl/h98agu" height="200" size="200" alt="Cheesy Corn Goodness" onclick="image()">
  <img src="https://goo.gl/zsMTvs" height="200" size="200" alt="Fontina Macaroni and Cheese" onclick="image()">
  <img src="https://goo.gl/Jo6RGe" height="200" size="200" alt="Bowl of Chiopino" onclick="image()">

  </body>
</html>
